$primaryColor: #7e4c4f;
$favoritesColor:#c92323;
$goodsDescColor: #8d8c8c;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
$dangerColor: #db2911;
$hotLineColor:rgb(173, 157, 157);
$yellowColor: #ffe4b3